<script 
src="/js/font-awesome-6_1_1.js" 
referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/bootstrap.min.js"></script>
<script>
    document.getElementById('currentYear').innerHTML = new Date().getFullYear()
</script>



</body>
</html>